@using StonksWebApp.models
@model StonksWebApp.models.CompanyFinancialModel[]
@{
    string GetDelayFromIdx(CompanyFinancialModel company)
    {
        int delay = 100 * Array.FindIndex(Model, e => e.Ticker == company.Ticker);
        return $"{delay}ms";
    }
    foreach (var company in Model)
    {
        <div class="border rounded p-3 mb-3" id="@company.Ticker">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                    <span class="fw-bold">@company.Name</span> 
                    <span class="text-muted">(@company.Ticker)</span>
                </div>
                <form hx-target="#@company.Ticker"
                        hx-swap="outerHTML"
                        hx-post="@Url.Page("admin")?handler=RemoveStock&cik=@company.CIK"
                        hx-trigger="submit">
                    @Html.AntiForgeryToken()
                    <button type="submit"
                            class="btn btn-danger">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                </form>
            </div>
            <form hx-post="@Url.Page("admin")?handler=UpdateTickerPrice&tickerSymbol=@company.Ticker"
                  hx-trigger="load delay:@GetDelayFromIdx(company)"
                  hx-swap="outerHTML">
                @Html.AntiForgeryToken()
                <img class="htmx-indicator" src="../spinner.gif" height="30" />
            </form>
        </div>
    }
}
