@model StonksWebApp.models.TradeModel[]

@functions
{
    
}

<div class="container">
    <h3>Order history:</h3>
    <ul class="list-group">
        @foreach (var trade in Model)
        {
            string tradeType = trade.OrderType == 1 ? "Buy" : "Sell";
            string colorClass = trade.OrderType == 1 ? "text-success" : "text-danger";
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@trade.Ticker</span>
                <span class="@colorClass">@tradeType</span>
                <span>@trade.OrderSize Shares @@ @trade.OrderPrice$</span>
                <span>@trade.OrderDate</span>
            </li>
        }
    </ul>
</div>
