@model StonksWebApp.Pages.Stonks._priceGraphPartialModel
@{
    double low = 99999999;
    double high = 0;
    for (int i = 0; i < Model.Prices.Length; i++)
    {
        double currentHigh = Model.Prices[i].High;
        double currentLow = Model.Prices[i].Low;

        if (currentLow < low)
        {
            low = currentLow;
        }
        if (currentHigh > high)
        {
            high = currentHigh;
        }
    }
    double priceRange = high - low;
}

<div>
    <ul class="nav nav-tabs">
        @foreach (var interval in @Model.Intervals)
        {
            <li class="nav-item">
                <form class="nav-link"
                      hx-post="/Stonks/@Model.Ticker?handler=StockGraph&interval=@interval&range=@Model.CurrentRange"
                      hx-target="#StonkGraphContainer"
                      hx-swap="innerHTML"
                      hx-trigger="click">
                    @Html.AntiForgeryToken()
                    @interval
                </form>
            </li>
        }
    </ul>

</div>
<div id="CandlesContainer" style="width: 500px; height: 300px; border: 1px inset; display: flex; flex-direction: row; overflow-x: scroll">
    @foreach (var candle in @Model.Prices)
    {
        double candleHeight = Math.Abs(candle.Close - candle.Open) / priceRange * 100;
        var colour = candle.Close > candle.Open ? "green" : Math.Abs(candle.Close - candle.Open) < 0.0001f ? "grey" : "red";
        <div style="width: 10px; height: 100%; margin-right: 5px;">
            <div style="background: @colour; width: 100%; height: @candleHeight%;"></div>
        </div>
    }
</div>
<div>
    <ul class="nav nav-tabs">
        @foreach (var range in @Model.Ranges)
        {
            <li class="nav-item">
                <form class="nav-link"
                      hx-post="/Stonks/@Model.Ticker?handler=StockGraph&interval=@Model.CurrentInterval&range=@range"
                      hx-target="#StonkGraphContainer"
                      hx-swap="innerHTML"
                      hx-trigger="click">
                    @Html.AntiForgeryToken()
                    @range
                </form>
            </li>
        }
    </ul>

</div>
